@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@theme {
  --color-gray-900: #202225;
  --color-gray-800: #2f3136;
  --color-gray-700: #36393f;
  --color-gray-600: #4f545c;
  --color-gray-400: #d4d7dc;
  --color-gray-300: #e3e5e8;
  --color-gray-200: #ebedef;
  --color-gray-100: #f2f3f5;
  --color-primary: #5865f2;

  --color-custom-dark: #ff3737;
  --color-custom-primary: #222e90;
  --color-custom-primary-low-opacity: #222e9020;
  --color-custom-primary-very-low-opacity: #222e9010;

  --color-custom-secondary: #ef4922;
  --color-custom-secondary-low-opacity: #ef492220;
  --color-custom-secondary-very-low-opacity: #ef492210;

  --color-custom-black: #1c0404;

  --color-custom-dark-grey: #555555;
  --color-custom-grey: #a4a4a4;
  --color-custom-light-grey: #ebebeb;
  --color-custom-very-light-grey: #f4f4f4;
  --color-custom-white: #fcfcfc;
}

@layer components {
  .input {
    @apply mt-1 px-3 py-2 w-full border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 text-custom-dark-grey focus:outline-custom-grey;
  }

  label {
    @apply block font-medium text-gray-700;
  }

  .btn-primary:hover {
    background-color: var(--color-custom-primary-low-opacity);
  }

  .btn-secondary {
    @apply w-fit self-end flex items-center gap-2 cursor-pointer py-3 px-4 bg-custom-secondary text-white rounded-full hover:brightness-[95%] duration-150;
  }

  .btn-secondary:hover {
  }

  body {
    @apply text-custom-black;
  }
}
